:root {
    --content-max-width: 1320px;
}

.nav-chapters {
    display: none;
}

#language-switcher {
    display: inline-block;
}

@media (max-width: 600px) {
    .language-switcher-label {
        display: none;
    }
}
